/*********************************** GENERAL STYLES ***************************/
:root{
    --primary-red: #f25f3a;
    --neutral-white: #ffffff;
    --dark-blue: #242d52;
    --dark-grayish-blue: hsl(227, 12%, 61%);
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    color: hsl(228, 39%, 23%);
}

h1{
    width: 60%;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(2, 2, 17);
    padding-top: 2em;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 1.8rem;
}

 a{
    text-decoration: none;
    color: var(--dark-blue);
}

/* a:hover{
    color: orangered;
} */

 .button{
    font-size: 13px;
    padding: 0.7rem 1.8rem;
    border: 1px solid transparent;
    border-radius: 2rem;
}


.button__primary{
    background-color: var(--primary-red) !important;
    color: var(--neutral-white) !important;
}

.button__secondary{
    background-color: var(--neutral-white) !important;
    color: var(--primary-red) !important;
} 

/*********************************** NAV SECTION ***************************/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 1rem;
    width: 80%;
    margin: auto;
}

.logo{
    width: 9rem;
    height: 1.4rem;
}

/*********************************** NAV SECTION END ***************************/



/*********************************** HERO SECTION ***************************/
.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0px auto;
}

.hero-section > div {
    width: 50%;
}

.description {
    width: 81%;
    line-height: 1.1em;
    color: var(--dark-blue);
    padding-bottom: 10px;
    font-size: 3.8em;
}

.manange__text {
    padding-bottom: 10px;
    width: 55%;
    font-size: 14px;
    color: var(--dark-grayish-blue);
    line-height: 1.6em;

}

.hero-section__image > img {
    width: 530px;
    padding: 2rem;
}
.button {
    background-color: var(--neutral-white);
    color: var(--primary-red);
    margin-top: 2em;
}  



/*********************************** HERO SECTION END ***************************/


/*********************************** TEAM WORK SECTION ***************************/
.team-work{
    padding: 3rem 1rem;
    background-color: var(--primary-red);
}

/*********************************** TEAM WORK SECTION END ***************************/
