/*********************************** GENERAL STYLES ***************************/
:root{
    --primary-red: #f25f3a;
    --neutral-white: #ffffff;
    --dark-blue: #242d52;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    color: hsl(228, 39%, 23%);
}

h1{
    width: 60%;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(2, 2, 17);
    padding-top: 2em;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 1.8rem;
}

 a{
    text-decoration: none;
    color: var(--dark-blue);
}

/* a:hover{
    color: orangered;
} */

 .button{
    font-size: 13px;
    padding: 0.7rem 1.8rem;
    border: 1px solid transparent;
    border-radius: 2rem;
}


.button--primary{
    background-color: var(--primary-red);
    color: var(--neutral-white);
}

.button--secondary{
    background-color: var(--neutral-white);
    color: var(--primary-red);
} 

/*********************************** NAV SECTION ***************************/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 1rem;
    width: 80%;
    margin: auto;
}

.logo{
    width: 9rem;
    height: 1.4rem;
}

/*********************************** NAV SECTION END ***************************/



/*********************************** HERO SECTION ***************************/


/*********************************** HERO SECTION END ***************************/


/*********************************** TEAM WORK SECTION ***************************/
.team-work{
    padding: 3rem 1rem;
    background-color: var(--primary-red);
}

/*********************************** TEAM WORK SECTION END ***************************/
